<div class="container">
<h4><a href="/{{uid}}">Challenges</a></h4>

<h4>{{challenge.name}}</h4>

<p>{{challenge.description}}</p>

{{#if challenge.files}}
<p>Files:
<ul>{{#each challenge.files}}<li><a href="/files/{{this}}">{{this}}</a></li>{{/each}}</ul>
</p>
{{/if}}

{{#if challenge.links}}
<p>Links:
<ul>{{#each challenge.links}}<li><a href="{{this}}">{{this}}</a></li>{{/each}}</ul>
</p>
{{/if}}

{{#if result}}
<p>{{result}}</p>
{{/if}}

<div class="form-group">
<form onsubmit="submit()">
<label for="answer">Flag: </label>
<input class="form-control col-sm-3" type="text" name="answer" id="answer" />
</div>
<div class="form-group">
<label for="note">Note: </label>
<textarea class="form-control col-sm-3" rows="5" cols="80" name="note" id="note"x>{{@root.solution.note}}</textarea>
</div>
<div class="form-group">
<input class="form-control" type="submit" value="Submit" />
</form>
</div>
</div>
