<div class="container">
<h4><a href="/{{uid}}">Challenges</a></h4>

<h4>{{challenge.name}}</h4>

<p>{{{challenge.description}}}</p>

{{#if challenge.files}}
<p>Files:
<ul>{{#each challenge.files}}<li><a href="/files/{{this}}">{{this}}</a></li>{{/each}}</ul>
</p>
{{/if}}

{{#if challenge.links}}
<p>Links:
<ul>{{#each challenge.links}}<li><a href="{{this}}">{{this}}</a></li>{{/each}}</ul>
</p>
{{/if}}

{{#if result}}
<p>{{result}}</p>
{{/if}}

<div class="form-group row">
<form onsubmit="submit()">
<div class="col-md-4"><input class="form-control" type="text" name="answer" id="answer" /></div>
<input class="btn btn-primary col-md-2" type="submit" value="Submit flag" />
</form>
</div>
</div>
