<style type="text/css">.btn-space { margin-right: 5px; }</style>
<div class="container">
<h1>Challenges</h1><br />
{{#each challenges}}
  <div class="row">
  <div class="col-md-2"><h4>{{@key}}</h4></div>
  {{#each this}}
    <a href="/{{@root.uid}}/{{cid}}">
      <div class="col-md-2 btn btn-space {{#solved @root.user cid}}{{/solved}}">
        {{name}}<br /><b>{{points}}</b>
      </div>
    </a>
  {{/each}}
  </div>
  <br />
{{/each}}
</div>